## Notes

df['Farbe'] = df['Farbe'].astype('category')

## About the ACSIncome Dataset
  
ACSIncome is one of several datasets created by [Ding et al.](https://proceedings.neurips.cc/paper_files/paper/2021/file/32e54441e6382a7fbacbbbaf3c450059-Paper.pdf) as an alternative to [UCI Adult](https://archive.ics.uci.edu/dataset/2/adult). A few key details about ACSIncome:
*   The dataset contains 1,664,500 datapoints pulled from the 2018 United Statesâ€“wide [American Community Survey](https://www.census.gov/programs-surveys/acs) (ACS) [Public Use Microdata Sample](https://www.census.gov/programs-surveys/acs/microdata.html) (PUMS) data sample.
*   All fifty US states and Puerto Rico are represented in this dataset.
*   Each row represents a person described by various features, including age, race, and sex, which correspond to protected categories in different domains under US anti-discrimination laws.
*   The dataset only includes individuals above 16 years old who worked at least 1 hour per week in the past year and had an income of at least $100 USD.

For more information on the dataset and how it was created to reconstruct UCI Adult, check out the following citations:

> Ding, Frances, Moritz Hardt, John Miller, and Ludwig Schmidt. "[Retiring adult: New datasets for fair machine learning.](https://proceedings.neurips.cc/paper_files/paper/2021/hash/32e54441e6382a7fbacbbbaf3c450059-Abstract.html)" Advances in neural information processing systems 34 (2021): 6478-6490.

> Sarah Flood, Miriam King, Renae Rodgers, Steven Ruggles, and J. Robert Warren (2020). Integrated Public Use Microdata Series, Current Population Survey: Version 8.0 [dataset]. Minneapolis, MN: IPUMS. https://doi.org/10.18128/D030.V8.0

## Features

After importing the dataset, five random samples appear in a table in the output cell. Each sample represents an individual, with each column representing an aspect of the invidiual, such as their age, occupation, place of birth, and so forth.

The following table describes each feature column:

| Feature    | Description |
| -------- | ------- |
| AGEP | Age |
| COW | Class of worker (government employee, self-employed, private employee) |
| SCHL | Educational attainment (high school diploma, bachelor's degree, doctorate degree) |
| MAR  | Marital status |
| OCCP | Occuptation |
| POBP | Place of birth |
| RELP | Relationship to householder (husband or wife, housemate or roommate, nursing home, group home, etc.)  |
| WKHP | Usual hours worked per week in the past 12 months |
| SEX | Male or female |
| RAC1P | Recorded detailed race code |
| ST | US state code that represents the individual's location |
| PINCP | Total person's yearly income |

All of these features are represented numerically, though some of them correspond to a coded value. For example, for the `COW` (Class of worker) feature, `1.0` represents *an employee of a private for-profit company or business, or of an individual, for wages, salary, or commissions* and `2.0` represents *an employee of a private not-for-profit, tax-exempt, or charitable organization*. See [the supplemental section](https://proceedings.neurips.cc/paper_files/paper/2021/file/32e54441e6382a7fbacbbbaf3c450059-Supplemental.pdf) of [Ding et al.](https://proceedings.neurips.cc/paper_files/paper/2021/file/32e54441e6382a7fbacbbbaf3c450059-Paper.pdf) and the [ACS PUMS 2018 Data Dictionary](https://www2.census.gov/programs-surveys/acs/tech_docs/pums/data_dict/PUMS_Data_Dictionary_2018.pdf) for the full mapping of codes.

In [ ]:
# %pip install pandas

In [1]:
import pandas as pd

# Import the dataset
# acs_df = pd.read_csv("data/acsincome_raw_2018.csv")
acs_df = pd.read_csv(filepath_or_buffer="https://download.mlcc.google.com/mledu-datasets/acsincome_raw_2018.csv")

print(acs_df.shape)

print(acs_df.info())

# Print five random rows of the pandas DataFrame.
# acs_df.sample(5)

(1664500, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1664500 entries, 0 to 1664499
Data columns (total 12 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   AGEP    1664500 non-null  float64
 1   COW     1664500 non-null  float64
 2   SCHL    1664500 non-null  float64
 3   MAR     1664500 non-null  float64
 4   OCCP    1664500 non-null  float64
 5   POBP    1664500 non-null  float64
 6   RELP    1664500 non-null  float64
 7   WKHP    1664500 non-null  float64
 8   SEX     1664500 non-null  float64
 9   RAC1P   1664500 non-null  float64
 10  ST      1664500 non-null  float64
 11  PINCP   1664500 non-null  float64
dtypes: float64(12)
memory usage: 152.4 MB
None

In [2]:
acs_df.columns

Index(['AGEP', 'COW', 'SCHL', 'MAR', 'OCCP', 'POBP', 'RELP', 'WKHP', 'SEX',
       'RAC1P', 'ST', 'PINCP'],
      dtype='object')

In [31]:
print(acs_df.describe())

                AGE           COW          SCHL           MAR          OCCP
count  1.664500e+06  1.664500e+06  1.664500e+06  1.664500e+06  1.664500e+06  \
mean   4.341127e+01  2.077500e+00  1.861814e+01  2.521997e+00  4.180517e+03
std    1.530203e+01  1.825338e+00  3.297826e+00  1.796720e+00  2.658717e+03
min    1.700000e+01  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+01
25%    3.000000e+01  1.000000e+00  1.600000e+01  1.000000e+00  2.205000e+03
50%    4.300000e+01  1.000000e+00  1.900000e+01  1.000000e+00  4.200000e+03
75%    5.600000e+01  3.000000e+00  2.100000e+01  5.000000e+00  5.740000e+03
max    9.600000e+01  8.000000e+00  2.400000e+01  5.000000e+00  9.830000e+03

               POBP          RELP          WKHP          RACE         STATE
count  1.664500e+06  1.664500e+06  1.664500e+06  1.664500e+06  1.664500e+06  \
mean   6.581708e+01  2.241254e+00  3.833390e+01  1.874745e+00  2.812590e+01
std    9.306245e+01  4.385288e+00  1.308073e+01  2.084384e+00  1.631822e+01
min    1.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%    1.800000e+01  0.000000e+00  3.500000e+01  1.000000e+00  1.200000e+01
50%    3.600000e+01  1.000000e+00  4.000000e+01  1.000000e+00  2.800000e+01
75%    4.800000e+01  2.000000e+00  4.400000e+01  1.000000e+00  4.200000e+01
max    5.540000e+02  1.700000e+01  9.900000e+01  9.000000e+00  7.200000e+01

             INCOME
count  1.664500e+06
mean   5.666386e+04
std    7.306745e+04
min    1.040000e+02
25%    2.000000e+04
50%    3.900000e+04
75%    6.800000e+04
max    1.423000e+06

In [3]:
acs_df.sample(5)

,AGEP,COW,SCHL,MAR,OCCP,POBP,RELP,WKHP,SEX,RAC1P,ST,PINCP
128985,65.0,1.0,22.0,1.0,4700.0,240.0,1.0,40.0,1.0,6.0,6.0,50000.0
1309762,20.0,1.0,13.0,5.0,4030.0,45.0,12.0,40.0,2.0,1.0,45.0,26000.0
1105698,21.0,1.0,19.0,5.0,7200.0,37.0,2.0,40.0,1.0,1.0,37.0,25000.0
507646,62.0,1.0,18.0,1.0,4720.0,36.0,1.0,40.0,2.0,1.0,17.0,35100.0
1189849,42.0,7.0,21.0,1.0,310.0,39.0,0.0,50.0,1.0,1.0,39.0,60000.0

In [5]:
COLUMNS_DE = ['AGE', 'COW', 'SCHL', 'MAR', 'OCCP', 'POBP', 'RELP', 'WKHP', 'SEX', 'RACE', 'STATE', 'INCOME']
COLUMNS_NAMES_DE = ['ALTER', 'COW', 'BILDUNG', 'F_STAND', 'OCCP', 'POBP', 'RELP', 'WKHP', 'GENRE', 'RASSE', 'US-STATE', 'EINKOMMEN']

In [7]:
acs_df.columns = COLUMNS_DE
acs_df.sample(5)

,AGE,COW,SCHL,MAR,OCCP,POBP,RELP,WKHP,SEX,RACE,STATE,INCOME
987665,21.0,1.0,20.0,5.0,4760.0,36.0,0.0,12.0,2.0,1.0,36.0,3500.0
1047366,25.0,1.0,22.0,5.0,4350.0,36.0,2.0,21.0,2.0,1.0,36.0,1000.0
548533,46.0,1.0,16.0,1.0,4700.0,100.0,6.0,50.0,2.0,1.0,17.0,40000.0
740545,19.0,1.0,16.0,5.0,7210.0,25.0,7.0,40.0,1.0,1.0,25.0,42000.0
938251,66.0,3.0,18.0,1.0,4220.0,34.0,0.0,20.0,1.0,1.0,34.0,52800.0

In [17]:
print(acs_df.SEX.unique())

acs_df.SEX = acs_df.SEX.apply(lambda x: 'man' if x == 1 else 'woman')

print(acs_df.SEX.unique())

[2. 1.]
['woman' 'man']

In [18]:
acs_df.sample(5)

,AGE,COW,SCHL,MAR,OCCP,POBP,RELP,WKHP,SEX,RACE,STATE,INCOME
1527322,19.0,1.0,16.0,5.0,5400.0,36.0,17.0,20.0,woman,9.0,51.0,2400.0
1324849,35.0,1.0,17.0,5.0,4720.0,36.0,0.0,24.0,woman,1.0,45.0,9500.0
1164697,34.0,1.0,13.0,3.0,4110.0,39.0,13.0,44.0,woman,1.0,39.0,29000.0
1554535,55.0,1.0,16.0,1.0,102.0,33.0,1.0,45.0,man,1.0,51.0,50000.0
861095,19.0,1.0,19.0,5.0,4760.0,29.0,13.0,30.0,woman,1.0,29.0,10000.0

In [24]:
import pandas as pd

# Sample DataFrame
data = {'Group': ['A', 'A', 'B', 'B', 'C'],
        'Value': [10, 15, 20, 25, 30]}
df = pd.DataFrame(data)

# Group by 'Group' and calculate the mean of 'Value'
grouped_df = df.groupby('Group')
result = grouped_df['Value'].mean()
print(result)

Group
A    12.5
B    22.5
C    30.0
Name: Value, dtype: float64

In [26]:
result = grouped_df.agg({'Value': ['sum', 'count']})
print(result)

      Value
        sum count
Group
A        25     2
B        45     2
C        30     1

In [34]:
df_man_woman = acs_df.groupby(acs_df.SEX)
# print(df_man_woman.INCOME.mean())
# print(df_man_woman.agg({'INCOME': ['mean']}))
print(df_man_woman.agg({'INCOME': ['count', 'mean', 'median', 'min', 'max']}))

       INCOME
        count          mean   median    min        max
SEX
man    866735  67762.889827  45000.0  104.0  1423000.0
woman  797765  44605.279921  32000.0  110.0  1376000.0